.sidenav {
  z-index: 1;
  box-shadow: 5px 5px 5px rgb(29, 214, 214);
  padding: 5px 5px 5px 10px;
  height: 93.1vh;
  width: 16.3vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  text-align: center;
  top: 100%;
  font-size: 150%;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #4759c0;
}

.topnav {
  z-index: 2;
  box-shadow: 5px 5px 5px rgb(29, 214, 214);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 83vw;
  height: 5vh;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: rgb(41, 68, 219);
}

.logo {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 4%;
}

.main {
  z-index: 0;
  background-color: rgb(235, 243, 243);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 5%;
  left: 17.6%;
}
